name: GitHub Metrics

on:
  schedule:
    - cron: "0 1 * * *" # 매일 01:00 UTC (10:00 KST)
  workflow_dispatch:
  push:
    branches: [main]
    paths-ignore:
      - "github-metrics.svg"

concurrency:
  group: metrics
  cancel-in-progress: true

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: sammy0329
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Seoul

          # Languages
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%

          # Isocalendar
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year

          # Habits
          plugin_habits: yes
          plugin_habits_charts_type: classic
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200
          plugin_habits_languages_limit: 8
          plugin_habits_languages_threshold: 0%
